.nav-container {
  width: 100%;
}
.navbar {
  text-align: center;
  width: 50%;
  margin: 20px auto;
}
.routs {
  color: black;
  padding: 20px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
